.title {
    position: fixed;
    top: 88px;
    left: 87px;
    font-family: 'Mochiy Pop P One';
    color: #427337;
    font-size: 20px;
    font-weight: 400;
}

.player {
    position: fixed;
    top: 135px;
    left: 87px;
    font-family: 'Mochiy Pop P One';
    color: #427337;
    font-weight: 400;
    font-size: 30px;
}

hr {
    height: 0.7px;       
    width: 90%;
    background-color: #84B579;/* 원하는 색 */
    margin: 1.5em 0;          /* 위아래 여백 */
}

ol {
    width: 100%;
}

li {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.vs {
    font-family: 'Mochiy Pop P One';
    font-size: 400;
    font-size: 15px;
    color: #427337;
}

.winner {

}

.cancel-link {
    
}