{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel='stylesheet' href="{% static 'users/history.css' %}">
{% endblock %}
{% block content %}
<div class="history-container">
    <div class="history-title">History List</div>
    <div class="current-player">현재 플레이어 : {{ user }}</div>
    <hr>
    <ol class="history-list">
    {% for game in games %}
    <li>
        <div class="game-info">
            {% if user == game.attacker %}
            <div>{{ game.attacker }} VS {{ game.defender }}</div>
            {% else %}
            <div>{{game.defender}} VS {{ game.attacker }}</div>
            {% endif %}

            {% if game.status == "finished" %}
            <div class="game-result">{{ game.result }}</div>
            {% elif game.status == "waiting" and user == game.attacker %}
            <div class="game-status">
                {{ game.status }}
                <form method="POST" action="{% url 'games:cancel' game.id %}">
                    {% csrf_token %}
                    <button type="submit" class="cancel-link" style="border: none; cursor: pointer;">게임 취소</button>
                </form>
            </div>
            {% else %}
                <form method="GET" action="{% url 'games:counter' game.id %}" style="display: inline;">
                    <button type="submit" style="border: none; cursor: pointer;">대응하러 가기</button>
                </form>
            </form>
            {% endif %}   
            <div>
                <a href="{% url 'games:detail' game.id %}" class="info-btn">게임 정보</a>
            </div>                     
        </div>
    </li>
    {% endfor %}
    </ol>    
</div>

{% endblock %}
{% block hills %}
{# 부모의 기본 언덕 마크업을 완전히 덮어써서 제거 #}
{% endblock %}