{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <!-- 페이지 전용 CSS -->
  <link rel="stylesheet" href="{% static 'users/history.css' %}"/>
{% endblock %}

{% block content %}
<div class='title'>History List</div>
<div class='player'>현재 플레이어 : {{ user }}</div>
<hr>
<ol>
{% for game in games %}
<li>
    {% if user == game.attacker %}
    <div class='vs'>{{ game.attacker }} VS {{ game.defender }}</div>
    {% else %}
    <div class='vs'>{{game.defender}} VS {{ game.attacker }}</div>
    {% endif %}

    {% if game.status == "finished" %}
        {% if game.result == 'attacker' %}
            <div class='winner'>{{ game.attacker.username }}의 승리</div>
            {% elif game.result == 'defender' %}
            <div class='winner'>{{ game.defender.username }}의 승리</div>
            {% elif game.result == 'draw' %}
            <div class='winner'>무승부</div>
            {% endif %}

        {% elif game.status == "waiting" and user == game.attacker %}
        <div>
            {{ game.get_status_display }} <!-- 대기중 표시-->
            <form method="POST" action="{% url 'games:cancel' game.id %}">
                {% csrf_token %}
                <button type="submit" class="cancel-link" style="border: none; cursor: pointer;">게임 취소</button>
            </form>
        </div>

        {% elif game.status == "waiting" and user == game.defender %}
        <a href="{% url 'games:counter' game.id %}">대응하러 가기</a>
        {% endif %}

        {% if game.status == "finished" or user == game.attacker %}
            <a href="{% url 'games:detail' game.id %}">게임 정보</a>
    {% endif %}

</li>
{% endfor %}
</ol>
{% endblock %}
{% block hills %}
{# 부모의 기본 언덕 마크업을 완전히 덮어써서 제거 #}
{% endblock %}